################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/~$技术要求.xlsx
/data
/ModBus/obj/Debug/TempPE
/.vs/ModBus/v15/Server/sqlite3
/.vs/ModBus/v15
